<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flat Chicken Listing</title>
  <link rel="stylesheet" href="/dist/style.css">
</head>
<body class="font-sans h-full">
  <div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
              <div class="flex items-center">
                  <a href="/" class="flex-shrink-0">
                      <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Flat Chicken">
                  </a>
                  <div class="hidden md:block">
                      <div class="ml-10 flex items-baseline space-x-4">
                          <a href="/profiles" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Listings</a>
                          <a href="/saved-profiles" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">My Profile</a>
                          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Responses</a>
                      </div>
                  </div>
              </div>

              <div class="hidden md:flex items-center space-x-4">
                  <a href="#" class="text-gray-300 hover:text-white">Notifications</a>
                  <a href="/profile" class="text-gray-300 hover:text-white">Profile</a>
              </div>
          </div>
      </div>
    </nav>

    <div class="px-4 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900"><%= user.username %></h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500"><%= user.gender %>, <%= user.age %></p>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Looking for</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">housemate/ grp/ 1 person/ etcc..</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">bio</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">blah blah blah</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">email</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">blah@gmail.com</dd>
        </div>
      </dl>
    </div>
  </div>
  
</body>
</html>

